.theme--dark.v-card>.v-card__text, .theme--light.v-card>.v-card__text {
  color: var(--v-default_text_color-base) !important;
}
.details-label-caption {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px !important;
  word-break: normal;
  overflow-wrap: break-word;
}

.status-active-span {
  display: block;
  background-color: #4caf50;
  color: #fff;
  border-radius: 2px;
  margin: auto 10%;
  padding: 8px 0px;
  font-size: 12px;
  width: 100% auto;
}

.status-inactive-span {
  display: block;
  background-color: #757575;
  color: #fff;
  border-radius: 2px;
  padding: 8px 0px;
  margin: auto 10%;
  font-size: 12px;
  width: 100% auto;
}

.status-revoked-span {
  display: block;
  background-color: #ff5252;
  color: #fff;
  border-radius: 2px;
  margin: auto 10%;
  padding: 8px 0px;
  font-size: 12px;
  width: 100% auto;
}